./.vscode
./inputs
.vscode/settings.json
inputs/0.txt
inputs/1.txt
inputs/2.txt
inputs/3.txt
inputs/4.txt
inputs/5.txt
inputs/6.txt
inputs/7.txt
inputs/8.txt
inputs/9.txt
inputs/10.txt
inputs/11.txt
inputs/12.txt
